h1{
    color: violet;
    text-align: center;
    background-color: black; 
}


h3{
    color: violet;
    background-color: black;
}


.body{
    background-color: rgb(199, 228, 230);
}

.centraImagen{
    margin: auto;
    display: block;
    height: 140px1;
    width: 90px;
}

footer{
    background-color:black;
    color: white;
    background-position: center;
}

.ista{
    width: 20px;
    height: 20px;  
}

.link{
    width: 20px;
    height: 20px;
}

